@charset "utf-8";
@font-face
{
    font-family:NotoSans;
    src: url("../fonts/NotoSansCJKkr-Medium.OTF");
}

@font-face
{
    font-family:NotoSansBold;
    src: url("../fonts/NotoSansCJKkr-Bold.OTF");
}

body {font-family:"NotoSans"; background-color: #FFFFFF}


/* global */
.hide {display:none!important;}
.wrapper {position:relative;width:1024px; height:748px; margin: 0 auto; overflow: hidden;}

img {-webkit-touch-callout: none; -webkit-user-select: none;}
.touch-return {-webkit-touch-callout: none; -webkit-user-select: none;}

a {
    display: inline-block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}


/* container */
.container {position: absolute; width:100%; height:100%;}
.container .contents {position: absolute; width:100%; height:100%;}



.container .contents > div {text-align: center; }
.dummy-link {width: 250px; height: 55px; text-align: center;  background-color: moccasin; margin: 10px; font-size: 20px; padding-top: 20px;}
.dummy-page-title {font-family:"NotoSansBold"; width: 100%; height: 30%; text-align: center; font-size: 30px;}



/* start page */
.start-con{position:absolute; width:100%; height:100%; background-color: #ffdf00;}

.start-con .page-title {font-family:"NotoSansBold"; width: 100%; margin-top: 180px; text-align: center; font-size: 50px;}

.start-con .certification {margin-top: 103px;}
.start-con .certification p {font-size: 15px;}
.start-con .certification input {
    display: block;
    width: 130px;
    margin: 13px auto 0; padding: 13px 0; text-align: center; letter-spacing: 10px;
    font-size: 24px;
    border: none; border-bottom: 1px solid #000; background-color: transparent;
}
.start-con .certification a {
    display: block; width: 130px; margin: 13px auto 0; padding: 13px 0; text-align: center; background: #000; color: #fff;
}


/* main page */
.main-con{position:absolute; width:100%; height:100%;  background-color: #f8f8f8;}

.main-con .top-area {
    position: relative;
    width: 100%; height: 100px;
    padding: 25px 30px; box-sizing: border-box;
    background-color: #333b58;
}
.main-con .top-area img {display: block; width: auto; height: 100%;}
.main-con .top-area .btn-logout {
    position: absolute; top: 25px; right: 30px; width: 50px; height: 50px; overflow: hidden; text-indent: -1000px;
    background: url('../assets/btn_power.png') 0 0 no-repeat;
    background-size: contain;
}

.main-con .info-area {margin-top: 70px;}
.main-con .info-area dl dd {margin-top: 30px;}
.main-con .info-area dl dd span {
    display: block; text-align: center;
}
.main-con .info-area .vtitle {font-size: 50px;}
.main-con .info-area .vday {font-size: 20px;}
.main-con .info-area .vloc {font-size: 20px;}
.main-con .info-area ol {width: 928px; margin: 50px auto 0; overflow: hidden;}
.main-con .info-area ol li {
    display: block; float: left;
    width: 32%; margin-left: 2%; margin-top: 2%;
    border: 1px solid #dddddd; box-sizing: border-box;
}
.main-con .info-area ol li:nth-child(3n-2) {
    margin-left: 0;
}
.main-con .info-area ol li:nth-child(-n+3) {
    margin-top: 0;
}
.main-con .info-area ol li a {display: block; padding: 20px 0; font-size: 24px;}
.main-con .info-area ol li a em {display: block; font-size: 50px; font-style: normal; text-align: center;}
.main-con .info-area ol li.inactive {opacity: 0.5;}
.main-con .info-area ol li.inactive a {pointer-events: none; color: #999;}

/* session */
.session-con{position:absolute; width:100%; height:100%; background-color: #fff;}

.session-con .swipe-wrap {}
.session-con .swipe-wrap .swiper-container {width: 100%; height: 694px;}
.session-con .swipe-wrap .swiper-container ol {width: 100%; height: 100%;}
.session-con .swipe-wrap .swiper-container li {width: 100%; height: 100%; overflow: hidden; text-indent: -10000px;}
.session-con .swipe-wrap .swiper-container li:nth-child(1) {background: url("../assets/3-1(0).jpg") 0 0 no-repeat; background-size: cover;}
.session-con .swipe-wrap .swiper-container li:nth-child(2) {}
.session-con .swipe-wrap .swiper-container li:nth-child(3) {}
.session-con .swipe-wrap .swiper-container li:nth-child(4) {}
.session-con .swipe-wrap .swiper-container li:nth-child(5) {}
.session-con .swipe-wrap .swiper-container li:nth-child(6) {}

.session-con .swipe-wrap .btn-prev {
    display: block;
    position: absolute; top: 50%; left: 20px;
    width: 54px; height: 54px;
    margin-top: -54px;
    background: url("../assets/left-arrow.png") 50% 50% no-repeat; background-size: contain;
    overflow: hidden; text-indent: -10000px;
}
.session-con .swipe-wrap .btn-next {
    display: block;
    position: absolute; top: 50%; right: 20px;
    width: 54px; height: 54px;
    margin-top: -54px;
    background: url("../assets/right-arrow.png") 50% 50% no-repeat; background-size: contain;
    overflow: hidden; text-indent: -10000px;
}

.session-con .btns-area {
    position: absolute; bottom: 0; left: 0;
    width: 100%;
    font-size: 0;
    background: #fff;
    text-align: left;
    box-shadow: 0 -3px 20px rgba(184, 184, 184, 0.5);
    -webkit-box-shadow: 0 -3px 20px rgba(184, 184, 184, 0.5);
    -moz-box-shadow: 0 -3px 20px rgba(184, 184, 184, 0.5);
}
.session-con .btns-area a {display: inline-block; width: 100px; font-size: 16px; border-right: 1px solid #f1f1f1; line-height: 54px; text-align: center;}
.session-con .btns-area .current {position: absolute; right: 0; bottom: 0; display: block; width: 100px; font-size: 16px; border-left: 1px solid #f1f1f1; line-height: 54px; text-align: center;}

.session-con .timer-con {position: absolute; bottom: 0; left: 0; width: 100%; height: 54px; background-color: #fff; border-top: 1px solid #f1f1f1;}
.session-con .timer-con.active {display: block;}
.session-con .timer-con .timer {width: 924px; height: 100%;}
.session-con .timer-con .timer .timer-guage {display: block; height: 100%; background-color: #ff1744;}
.session-con .timer-con .btn-stop {position: absolute; right: 0; bottom: 0; display: block; width: 100px; font-size: 16px; border-left: 1px solid #f1f1f1; line-height: 54px; text-align: center;}

/* result */
.result-con {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff;}

.result-con .title {margin-top: 85px; font-size: 40px; text-align: center;}

.result-con .result-graph {position: absolute; left: 0; bottom: 85px; width: 100%; border-bottom: 1px solid #ebebeb;}
.result-con .result-graph ol {height: 360px;}
.result-con .result-graph li {display: inline-block; position: relative; vertical-align: bottom; width: 40px; height: 100%; margin-left: 120px;}
.result-con .result-graph li:first-child {margin-left: 0;}
.result-con .result-graph .graph {position: absolute; left: 50%; bottom: 0; display: inline-block; width:16px; margin-left: -8px; background-color: #ff1744; vertical-align: bottom; border-radius: 8px 8px 0 0;}
.result-con .result-graph li .percent {position: absolute; bottom: 105%; left: -20px; width: 60px; text-align: center; font-size: 20px; overflow: hidden;}
.result-con .result-graph .session-num {display: inline-block; position: relative; padding-top: 360px; line-height: 3;}

/* loading */
.loading-con {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff;}
.loading-con .title {margin-top: 290px; font-size: 40px; text-align: center;}
.loading-con .loading-box {width: 310px; height: 5px; margin: 70px auto 0; background-color: #f7f7f7; border-radius: 15px;}
.loading-con .loading-box .load-guage {display: block; height: 5px; background-color: #ff1744; border-radius: 15px;}


.result-con .btn-close-result {
    display: block;
    position: absolute; top: 50px; right: 35px;
    width: 54px; height: 54px;
    background: url("../assets/btn_close.png") 50% 50% no-repeat; background-size: 66%;
    overflow: hidden; text-indent: -10000px;
}

/* qna */
.qna-con .top-area {
    position: relative;
    width: 100%; height: 100px;
    padding: 25px 30px; box-sizing: border-box;
    background-color: #333b58;
}
.qna-con .top-area img {display: block; width: auto; height: 100%;}
.qna-con .top-area .btn-back {
    position: absolute; top: 32px; right: 30px; width: 36px; height: 36px; overflow: hidden; text-indent: -1000px;
    background: url('../assets/left-arrow_w.png') 0 0 no-repeat;
    background-size: contain;
}

.qna-con .qna-area {
    position: relative;
    height: 648px;
    overflow-y: scroll; background-color: #f8f8f8;
}
.qna-con .qna-area ol {
    padding-bottom: 40px;
}
.qna-con .qna-area .btn-area {
    position: absolute; top: 28px; right: 30px;
}
.qna-con .qna-area .btn-area a {
    display: inline-block; padding: 12px 20px;
    font: 16px/1 "NotoSans"; border: 1px solid #ddd; background: #fff;
}
.qna-con .qna-area .qna-session {
    margin-top: 30px; padding: 0 30px; text-align: left;
}
.qna-con .qna-area .qna-session b {
    display: block;
    padding-bottom: 12px;
    font-size: 20px; text-align: left; font-family:"NotoSans";
}
.qna-con .qna-area .qna-session li {
    position: relative;
    margin-top: 10px; /*padding: 34px 90px;*/
    background-color: #fff; border: 1px solid #ddd; text-align: left;
}

.qna-con .qna-area .qna-session li:after {
    display: block; content: '';
    position: absolute; top:29px; left: 36px;
    width: 38px; height: 38px;
    background: url("../assets/ico_q.png") 0 0 no-repeat; background-size: contain;
    font-family:"NotoSans";
}
.qna-con .qna-area .qna-session li a {
    display: block;
    padding: 34px 90px;
}

.qna-con .qna-pop {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff;}
.qna-con .qna-pop b {
    display: block;
    text-align: center;
    margin-top: 55px;
    font: 30px/1 "NotoSans";
}
.qna-con .qna-pop p {
    margin-top: 90px;
    padding: 0 50px;
    text-align: left;
    font: 24px/1.5 "NotoSans";
}
.qna-con .qna-pop .btn-close-qnapop {
    display: block;
    position: absolute; top: 50px; right: 35px;
    width: 54px; height: 54px;
    background: url("../assets/btn_close.png") 50% 50% no-repeat; background-size: 66%;
    overflow: hidden; text-indent: -10000px;
}





/* swiper */

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}











/* transition */



@-webkit-keyframes slideOut {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, 748px, 0px);  }
}

.slideOut_animate {
    /*overflow: hidden;*/
    -webkit-animation-name: slideOut;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}



@-webkit-keyframes slideOutRever {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, -748px, 0px);  }
}

.slideOut_animate_rever {
    /*overflow: hidden;*/
    -webkit-animation-name: slideOutRever;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}






@-webkit-keyframes slideIn {
    0% {-webkit-transform: translate3d(0px, 748px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px);  }
}

.slideIn_animate {

    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}


@-webkit-keyframes slideInRever {
    0% {-webkit-transform: translate3d(0px, -748px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px);  }
}

.slideIn_animate_rever {

    -webkit-animation-name: slideInRever;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}








@-webkit-keyframes slideInVerti {
    0% {-webkit-transform: translate3d(1024px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px);  }
}

.slideIn_animate_ver {

    -webkit-animation-name: slideInVerti;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}


@-webkit-keyframes slideInVertiRever {
    0% {-webkit-transform: translate3d(-1024px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px);  }
}

.slideIn_animate_ver_rever {

    -webkit-animation-name: slideInVertiRever;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}




@-webkit-keyframes slideOutVerti {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    100% {-webkit-transform: translate3d(1024px, 0px, 0px);  }
}

.slideOut_animate_ver {

    -webkit-animation-name: slideOutVerti;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}


@-webkit-keyframes slideOutVertiRever {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    100% {-webkit-transform: translate3d(-1024px, 0px, 0px);  }
}

.slideOut_animate_ver_rever {

    -webkit-animation-name: slideOutVertiRever;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}





@-webkit-keyframes alphaIn {
    0% {opacity: 0 }
    100% {opacity: 1 }
}

.alphaIn_animate {
    -webkit-animation-name: alphaIn;
    -webkit-animation-duration: 500ms;
    -webkit-transition:500ms;
}


@-webkit-keyframes alphOut {
    0% {opacity: 1 }
    100% {opacity: 0 }
}

.alphOut_animate {
    -webkit-animation-name: alphOut;
    -webkit-animation-duration: 500ms;
    -webkit-transition:500ms;
}

