@charset "utf-8";
@font-face
{
    font-family:NotoSans;
    src: url("../fonts/NotoSansCJKkr-Medium.otf");
}

@font-face
{
    font-family:NotoSansBold;
    src: url("../fonts/NotoSansCJKkr-Bold.otf");
}

body {font-family:"NotoSans"; background-color: #ffffff}


/* global */
.hide {display:none!important;}
.wrapper {overflow: hidden;}

img {-webkit-touch-callout: none; -webkit-user-select: none;}
.touch-return {-webkit-touch-callout: none; -webkit-user-select: none;}

a {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    /*width:100%; height:100%;*/
    /*background-color: #000000; opacity: 0.2;*/
}


/* container */
.container {position: absolute; width:100%; height:100%;}
.container .contents {position: absolute; width:100%; height:100%;}


/* main page */
.main-con{position:absolute;}
.main-con .line{position: absolute;}
.main-con .line.line-1{top:88px;}
.main-con .line.line-2{top:241px;}
.main-con .line.line-3{top:395px;}
.main-con .line.line-4{top:686px;}
.main-con .contents-area{position:absolute;left:95px;}
.main-con .contents-area.con-1{height:137px;top:105px;}
.main-con .contents-area.con-2{height:137px;top:258px;}
.main-con .contents-area.con-3{height:274px;top:412px;}
.main-con .contents-area .title{position:absolute;}
.main-con .contents-area .title.title-1{top:33px;}
.main-con .contents-area .title.title-2{top:33px;}
.main-con .contents-area .title.title-3{top:93px;}
.main-con .contents-area .list{position:absolute; left:348px;}
.main-con .contents-area .list ul>li{float:left;margin-right: 30px}
.main-con .contents-area .list.list-1{width:520px; height:137px;}
.main-con .contents-area .list.list-2{width:520px; height:137px;}
.main-con .contents-area .list.list-3{width:520px; height:274px;}


#preload {display: none;}
.wrapper {width: 100%; padding: 6.09375% 0 0; min-height: 170vw; }
.wrapper .screen-logo {display: block; width: 100%; height: 30vw; margin-bottom: 6.5vw; overflow: hidden;}
.wrapper .screen-logo img {display: block; width: 80%; height: auto; margin: 0 auto}
.wrapper .key-area > div {
    margin-top: 5.46875vw;
    font-size: 0;
    text-align: center;
}
.wrapper .key-area > div:first-child {
    margin-top: 0;
}
.wrapper .key-area .btn-number {
    display: inline-block;
    width: 21.09375vw; height: 21.09375vw;
    margin-left: 5.46875vw;
    border: 2px solid #eceded; border-radius: 50%;
    font-size: 10vw; text-align: center; vertical-align: middle; line-height: 21.09375vw;
    color: #eceded;
}
.wrapper .key-area .btn-number:first-child {
    margin-left: 0;
}

.wrapper .key-area .alert-number {
    display: inline-block;
    width: 21.09375vw; height: 21.09375vw;
    border: 2px solid #ffdf00; border-radius: 50%;
    background-color: #ffdf00;
    font-size: 10vw; text-align: center; vertical-align: middle; line-height: 21.09375vw;
    color: #000;
    overflow: hidden;
}

.wrapper .content-btn {margin-top: 7.5vw; padding: 0 13.4375vw; font-size: 0; text-align: center;}
.wrapper .content-btn > a {display: inline-block; padding-bottom: 1%; font-size: 4.6875vw; color: #dedede; border-bottom: 1px solid #dedede; overflow: hidden}
.wrapper .content-btn .survey-btn {float: left;}
.wrapper .content-btn .agenda-btn {float: right;}
.wrapper .content-btn .dimmed-btn {pointer-events: none; opacity: 0.2}

.wrapper .dimmed {
    display: none;
    position: fixed; top: 0; left: 0; z-index: 5; pointer-events: none;
    width: 100%; height: 100%;
    background: #000;
    opacity: 0.5;
}

.wrapper .qna-popup {
    position: fixed; top: 50%; left: 5%; z-index: 10;
    width: 90%; height: 90vw;
    margin-top: -45vw;
    border-radius: 5%;
}
.wrapper .qna-popup .btn-close {
    display: block;
    position: absolute; top: -8vw; right: 0;
    width: 5.6vw; height: 5.6vw;
    background: url("../assets/btn_close.png") 0 0 no-repeat; background-size: contain;
}
.wrapper .qna-popup textarea {
    display: block;
    width: 100%; height: 75vw;
    padding: 5%; box-sizing: border-box;
    border: none;
    border-radius: 2% 2% 0 0;
    font-size: 4.375vw;
}
.wrapper .qna-popup .btn-register {
    display: block;
    width: 100%; text-align: center;
    font-size: 4.375vw; line-height: 15vw;
    border-radius: 0 0 2vw 2vw;
    background: #ffdf00;
}

.wrapper .complete-popup {
    position: fixed; top: 50%; left: 5%; z-index: 10;
    width: 90%; height: 42vw;
    margin-top: -21vw;
    border-radius: 5%;
}

.wrapper .complete-popup .message {
    display: block;
    width: 100%; height: 27vw;
    box-sizing: border-box;
    border: none; border-radius: 2% 2% 0 0;
    font-size: 4.375vw; line-height: 27vw; text-align: center;
    background: #fff;
}

.wrapper .complete-popup .btn-confirm {
    display: block;
    width: 100%; text-align: center;
    font-size: 4.375vw; line-height: 15vw;
    border-radius: 0 0 2vw 2vw;
    background: #ffdf00;
}

.show-popup {overflow: hidden;}
.show-popup .wrapper { min-height: auto;}
.show-popup .wrapper .dimmed {display: block;}

@media screen and (min-width: 747px) {
    .wrapper {width: 747px; margin: 0 auto; padding: 50px 0 100px; min-height: auto;}
    .wrapper .screen-logo {height: 224px;}
    .wrapper .key-area {width: 556px; margin: 0 auto;}
    .wrapper .key-area > div {margin-top: 38px;}
    .wrapper .key-area .btn-number {width: 160px; height: 160px; margin-left: 38px; line-height: 160px; font-size: 70px; box-sizing: border-box;}
    .wrapper .key-area .alert-number {width: 160px; height: 160px; line-height: 160px; font-size: 70px; box-sizing: border-box;}
    .wrapper .content-btn {width: 556px; margin: 100px auto 0; padding: 0;}
    .wrapper .content-btn > a {font-size: 35px;}

    .wrapper .qna-popup {position: fixed; left: 50%; top: 50%; width: 676px; height: 782px; margin-top: -391px; margin-left: -338px;}
    .wrapper .qna-popup textarea {height: 678px; font-size: 33px;}
    .wrapper .qna-popup .btn-close {width: 43px; height: 43px; margin-top: 60px}
    .wrapper .qna-popup .btn-register {font-size: 33px; line-height: 104px; border-radius: 0 0 10px 10px;}

    .wrapper .complete-popup {position: fixed; left: 50%; top: 50%; width: 676px; height: 312px; margin-top: -156px; margin-left: -338px;}
    .wrapper .complete-popup .message {height: 208px; font-size: 33px; line-height: 208px; border-radius: 10px 10px 0 0;}
    .wrapper .complete-popup .btn-confirm {font-size: 33px; line-height: 104px; border-radius: 0 0 10px 10px;}
}


/*.wrapper #qna-wrapper { display: block; position: fixed; left: 0; bottom: 0; width: 100%; font-size: 0; background-color: #fff;}
.wrapper #qna-wrapper textarea {
    display: inline-block; width: 80%; font-size: 4.6875vw; padding: 5% 7.84%; box-sizing: border-box; vertical-align: bottom; border: none;
}
.wrapper #qna-wrapper .qna-btn {display: inline-block; width: 20%; background-color: #ffdf00; font-size: 4.6875vw; padding: 5% 0; text-align: center; vertical-align: bottom}*/





/* transition */



@-webkit-keyframes slideOut {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, 748px, 0px);  }
}

.slideOut_animate {
    /*overflow: hidden;*/
    -webkit-animation-name: slideOut;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}



@-webkit-keyframes slideOutRever {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, -748px, 0px);  }
}

.slideOut_animate_rever {
    /*overflow: hidden;*/
    -webkit-animation-name: slideOutRever;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}






@-webkit-keyframes slideIn {
    0% {-webkit-transform: translate3d(0px, 748px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px);  }
}

.slideIn_animate {

    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}


@-webkit-keyframes slideInRever {
    0% {-webkit-transform: translate3d(0px, -748px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px);  }
}

.slideIn_animate_rever {

    -webkit-animation-name: slideInRever;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}








@-webkit-keyframes slideInVerti {
    0% {-webkit-transform: translate3d(1024px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px);  }
}

.slideIn_animate_ver {

    -webkit-animation-name: slideInVerti;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}


@-webkit-keyframes slideInVertiRever {
    0% {-webkit-transform: translate3d(-1024px, 0px, 0px); }
    100% {-webkit-transform: translate3d(0px, 0px, 0px);  }
}

.slideIn_animate_ver_rever {

    -webkit-animation-name: slideInVertiRever;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}




@-webkit-keyframes slideOutVerti {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    100% {-webkit-transform: translate3d(1024px, 0px, 0px);  }
}

.slideOut_animate_ver {

    -webkit-animation-name: slideOutVerti;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}


@-webkit-keyframes slideOutVertiRever {
    0% {-webkit-transform: translate3d(0px, 0px, 0px); }
    100% {-webkit-transform: translate3d(-1024px, 0px, 0px);  }
}

.slideOut_animate_ver_rever {

    -webkit-animation-name: slideOutVertiRever;
    -webkit-animation-duration: 800ms;
    -webkit-transition:800ms;
    -webkit-animation-timing-function: cubic-bezier(.69,.01,.25,.99);
}





@-webkit-keyframes alphaIn {
    0% {opacity: 0 }
    100% {opacity: 1 }
}

.alphaIn_animate {
    -webkit-animation-name: alphaIn;
    -webkit-animation-duration: 500ms;
    -webkit-transition:500ms;
}


@-webkit-keyframes alphOut {
    0% {opacity: 1 }
    100% {opacity: 0 }
}

.alphOut_animate {
    -webkit-animation-name: alphOut;
    -webkit-animation-duration: 500ms;
    -webkit-transition:500ms;
}






@-webkit-keyframes inputNumber {
    0% {-webkit-transform: scale(2); opacity: 0; }
    7% {-webkit-transform: scale(0.9); opacity: 1; }
    10% {-webkit-transform: scale(1); opacity: 1; }
    40% {opacity: 1; }
    50% {opacity: 0; }
    60% {opacity: 1; }
    70% {opacity: 0; }
    80% {opacity: 1; -webkit-transform: translate3d(0px, 0px, 0px);}
    100% {-webkit-transform: translate3d(0px, -200px, 0px);}
}

.number_animate {
    -webkit-animation-name: inputNumber;
    -webkit-animation-duration: 2600ms;
    -webkit-transition:2600ms;
}





